/* ------------------尾部-------------------- */
#footer{
    height: 190px;background:#ebebeb;
    ul{margin:0 auto;width: 500px;}
    li{
        float:left;
        span{
            display:block;font-size:11px;padding:0 10px;border-right:1px solid #999;color:#999;margin-top:22px;
            &:hover{color:$color;}
        }
        &:last-child span{border-right:0 none;}
    }
    p{font-size:11px;margin-top:13px;color:#999;text-align:center;}
    .shanghai{
        .img{width: 100px;height: 47px;margin:0 auto;margin-top:16px;background:url(../img/shanghai.gif) no-repeat;}
        p{margin-top:0;}
        a{color:#999;display:inline-block;margin-right:15px;}
        i{display:inline-block;width: 20px;height: 20px;background:url(../img/ghs.png) no-repeat;margin-right:5px;}
    }   
}