@charset "UTF-8";
/* 存放全局变量 */
/*==========样式重置===========*/
body, html { width: 100%; background: #f4f2f4; }

body, dl, dd, h1, h2, h3, h4, h5, h6, p, form { margin: 0; }

ol, ul { margin: 0; padding: 0; }

ul, ol, li { list-style: none; }

img { display: block; border: 0 none; }

input { outline: none; margin: 0; }

body { font-family: "微软雅黑"; height: 100%; }

a { text-decoration: none; display: block; }

/*左浮动*/
.fl { float: left; }

/*右浮动*/
.fr { float: right; }

/* 清除浮动 */
.clearfix::after { display: block; content: ""; height: 0; clear: both; overflow: hidden; visibility: hidden; zoom: 1; }

.container { width: 1090px; margin: 0 auto; }

.outer { background: url(../img/outer.png) top no-repeat; }

.container { width: 1000px; }

/* ------------------头部-------------------- */
#header { width: 100%; border-bottom: 1px solid #d7d6d7; }

#header .container { height: 42px; }

#header li { float: left; }

#header .fl a { display: block; height: 34px; line-height: 34px; padding: 0 20px; border-right: 1px solid #e7e7e7; margin-top: 5px; font-weight: bold; font-size: 12px; color: #000; }

#header .fl i { position: absolute; display: inline-block; width: 12px; height: 20px; background: url(../img/s2.png) -320px -240px; left: 10px; top: 7px; }

#header .fl .img { width: 278px; height: 103px; top: 37px; left: -1px; background: url(../img/phone.jpg) no-repeat; border: 1px solid #ff5c00; display: none; z-index: 999; }

#header .fl span:hover { color: #ff5c00; }

#header .fl li:first-child a { background: #fff; color: #ff5c00; border: 1px solid #e7e7e7; margin-left: -1px; height: 39px; line-height: 39px; border-bottom: 1px solid #fff; }

#header .fl li:last-child a { padding: 0 10px; }

#header .fl li:last-child span { position: relative; display: block; padding: 0 10px 0 30px; }

#header .fl li:last-child span:hover { border: 1px solid #ff5c00; background: #fff; height: 39px; line-height: 39px; border-bottom: 0 none; z-index: 999; }

#header .fl li:last-child span:hover i:first-child { background: url(../img/s2.png) -320px -265px; }

#header .fl li:last-child span:hover .img { display: block; }

#header .fr > li { position: relative; }

#header .fr > li:first-child { padding: 0 10px 0 8px; color: #000; font-size: 11px; height: 14px; line-height: 14px; margin-top: 15px; }

#header .fr > li .lr { color: #ff5c00; padding-left: 0; }

#header .fr > li a { display: block; padding: 0 10px 0 8px; color: #000; font-size: 11px; height: 14px; line-height: 14px; margin-top: 15px; position: relative; }

#header .fr > li a:hover { color: #ff5c00; }

#header .fr .mainNav a { margin-top: 10px; }

#header .fr .mainNav span { display: block; padding: 5px 20px 0 5px; border: 1px solid #f4f2f4; }

#header .fr .mainNav a.border { border-right: 1px solid #e7e7e7; }

#header .fr .mainNav a.lr { color: #ff5c00; padding: 0 8px 0 0; }

#header .fr .mainNav i { display: block; width: 0; height: 0; border: 4px solid #f4f2f4; border-top: 4px solid #000; position: absolute; right: 18px; top: 10px; }

#header .fr .mainNav .subNav { position: absolute; left: 8px; top: 30px; border: 1px solid #ff5c00; width: 73px; display: none; background: #fff; border-top: 0 none; }

#header .fr .mainNav .subNav li { float: none; }

#header .fr .mainNav .subNav a { display: block; height: 11px; padding: 5px; margin: 0; color: #000; font-size: 11px; }

#header .fr .mainNav:hover span { border: 1px solid #ff5c00; background: #fff; border-bottom: 0 none; height: 39px; z-index: 999; }

#header .fr .mainNav:hover i { border: 4px solid #fff; border-bottom: 4px solid #ff5c00; top: 6px; }

#header .fr .mainNav:hover .subNav { display: block; z-index: 2; }

body, html { background: #ececec; }

#header .fr .mainNav span { border-color: #ececec; }

#header .fr .mainNav i { border-color: #ececec; border-top: 4px solid #000; }

.logo { background: #fff; border-bottom: 1px solid #d3d3d3; margin-bottom: 18px; }

.logo .container { height: 106px; padding-top: 20px; }

.main .top { width: 492px; height: 38px; margin: 0 auto; }

.main .top i { display: inline-block; width: 27px; height: 27px; background: url(../img/s8.png) no-repeat -227px 1px; vertical-align: -5px; }

.main .top a { padding: 0 90px 0 93px; border: 1px solid #dedede; color: #979797; font-size: 12px; border-bottom: 0 none; font-weight: 600; line-height: 36px; background: #f8f8f8; }

.main .top li { float: left; margin-right: 10px; }

.main .top li:first-child a { color: #ff5c00; background: #fff; border-top: 3px solid #ff5c00; }

.main .top li:first-child i { background-position: -190px 1px; }

.main .content { height: 490px; border: 1px solid #d3d3d3; background: #fff; margin-bottom: 40px; padding: 40px 80px 10px 88px; }

.main .content img { margin-left: 50px; }

.main .content label { position: relative; display: inline-block; font-size: 12px; color: #666; width: 72px; text-align: right; }

.main .content i { position: absolute; width: 34px; height: 28px; background: url(../img/s8.png) no-repeat -153px 0; left: 309px; top: -5px; }

.main .content .phone { background-position: -120px 0; }

.main .content input { width: 273px; height: 33px; margin-top: 28px; }

.main .content #username { margin: 0; }

.main .content #code, .main .content #code1 { width: 100px; height: 23px; }

.main .content span { display: inline-block; width: 80px; height: 27px; line-height: 27px; border: 1px solid #d3d3d3; margin-left: 20px; text-align:center; font-size: 14px; }

.main .content #code1 + span { width: 98px; padding: 0 5px; vertical-align: 0; color: #ff7800; background: #fffaec; border-color: #ffda71; cursor: pointer; }

.main .content p { padding-left: 56px; font-size: 12px; color: #666; }

.main .content p input { width: 12px; height: 12px; margin-right: 4px; margin-top: 33px; }

.main .content p a { display: inline-block; color: #20bfff; font-size: 12px; }

.main .content p:last-child { margin-top: 8px; }

.main .content p:last-child a { width: 24px; height: 24px; background: url(../img/s8.png) no-repeat -2px -301px; margin-right: 10px; }

.main .content p:last-child a:nth-child(2) { background-position: -28px -301px; }

.main .content p:last-child a:nth-child(3) { background-position: -57px -301px; }

.main .content p:last-child a:nth-child(4) { background-position: -84px -301px; }

.main .content button { margin: 10px 0 26px 56px; color: #fff; background: #ff5c00; width: 227px; height: 38px; padding: 0; border: 0 none; font-size: 14px; }

/* ------------------尾部-------------------- */
#footer { height: 190px; background: #ebebeb; }

#footer ul { margin: 0 auto; width: 500px; }

#footer li { float: left; }

#footer li span { display: block; font-size: 11px; padding: 0 10px; border-right: 1px solid #999; color: #999; margin-top: 22px; }

#footer li span:hover { color: #ff5c00; }

#footer li:last-child span { border-right: 0 none; }

#footer p { font-size: 11px; margin-top: 13px; color: #999; text-align: center; }

#footer .shanghai .img { width: 100px; height: 47px; margin: 0 auto; margin-top: 16px; background: url(../img/shanghai.gif) no-repeat; }

#footer .shanghai p { margin-top: 0; }

#footer .shanghai a { color: #999; display: inline-block; margin-right: 15px; }

#footer .shanghai i { display: inline-block; width: 20px; height: 20px; background: url(../img/ghs.png) no-repeat; margin-right: 5px; }

#footer { background: #fff; padding-top: 16px; border-top: 1px solid #d3d3d3; }
